input[type=text],
input[type=number],
input[type=date] {
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
}

select {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=submit],
input[type=reset] {
    background-color: rgb(89, 152, 246);
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

input[type=submit]:hover,
input[type=reset]:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr,
td:hover {
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color: white;
}
